#intellij
*.iml
.idea/
/_output
index.js

# vscode
.vscode/

# default working dir
/job-aggregator-working-dir
# go built binary
/job-run-aggregator

# default konflux-gen openshift/release clone directory
/openshift-release
/konflux-gen/out